<div class="IdeaBlock row-fluid well well-large">

  <%  # 
  %>
  <div class="span9">
    <%= link_to 'Back', ideas_path, :class => "btn btn-primary btn-normal" %> <br /><br />

    <%= link_to 'I like this idea', scoreup_idea_path(@idea), :class => "btn btn-success btn-mini" %> 
    
    <% if @idea.status == 0 || @idea.status.nil? %> <s> <% end %>
    <strong><%= @idea.category.name %> - <%= @idea.title %> </strong>
    <% if @idea.status == 0 || @idea.status.nil? %> </s> <% end %>

    <div class="IdeaAuthor">
        (from @<%= @idea.user.nickname if @idea.user  %>, 
        <%= distance_of_time_in_words_to_now @idea.updated_at %>)
    </div> <br />
    <div class="IdeaBody">
        <%= simple_format(@idea.body) %>
    </div>
  </div>

  <div class="span3">
    <div class="btn-group" data-toggle="buttons-checkbox" style="text-align: center;">
      <% if @idea.user_id == session[:current_user_authenticated] %>
        <%= link_to 'Edit', edit_idea_path(@idea), :class => "btn btn-primary btn-mini" %> 
        <%= link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %>
      <% end %>
    </div>
    <div class="IdeaScore"><%= @idea.score %></div>
  </div>

  <%= render 'comments/list.html.erb' %>

</div>
